<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--layout:decorator="layouts/default">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel='stylesheet' href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css'/>
    <link rel='text/javascript' href='/webjars/jquery/3.1.1-1/jquery.min.js'/>
    <link rel='text/javascript' href='/webjars/bootstrap/3.1.0/js/bootstrap.min.js'/>
    <link rel='stylesheet' href='http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css'/>
    <title>Main page</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Advert board</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">Registration</a></li>
                <li><a href="/users">Personal Area</a></li>
                <li><a href="/admin">Administrator</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row text-center table-bordered" th:each="adv : ${adverts}">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row text-center">
                <div class="col-md-12"><a th:href="@{/ads(id=${adv.getId()})}"><p th:text="${adv.getName()}"/></a></div>
            </div>
            <div class="row text-center">
                <div class="col-md-12"><p th:text="${adv.getDescription()}"/></div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">Price: <p th:text="${adv.getPrice()}"/></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
</body>
</html>