<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--layout:decorator="layouts/default">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>User settings</title>
</head>
<body>
<table border="1" width="100%">
    <tr align="center">
        <td><a href="/">Company name / Logo</a></td>
        <td><a href="/signup">Registration</a></td>
        <td><a href="/users">Personal Area</a></td>
        <td><a href="/admin">Administrator</a></td>
    </tr>
</table>
<a href="/user/add">Add new ads</a><br/>

<h2>User</h2>
<table border="1" width="100%">
    <tr align="center">
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr align="center">
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getSurname()}"/>
    </tr>
</table>
<br/>
<table border="1" width="100%">
    <tr align="center">
        <th>Number</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Edit</th>
        <!--<th>Delete</th>-->
    </tr>
    <tr th:each="adv : ${user.getAdverts()}" align="center">
        <td th:text="${adv.getNumber()}"/>
        <td th:text="${adv.getName()}"/>
        <td th:text="${adv.getDescription()}"/>
        <td th:text="${adv.getPrice()}"/>
        <td><a href="/user/settings?edit=" th:href="@{/user/edit(id=${adv.getId()})}">edit</a></td>
    </tr>
</table>
</body>
</html>